<html>
  <head>
    <link   type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link   type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>
    <link   type="text/css" href="bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet"></link>

    <link   href='http://fonts.googleapis.com/css?family=Khula' rel='stylesheet' type='text/css'>
    <link   type="text/css" href="css/style.css" rel="stylesheet"></link>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script type="text/javascript" src="perl_lexer.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body ng-app="ngApp">
    <header>
      <h1>Compiler::Lexer</h1>
      <h2>- Fast Lexical Analyzer for Perl5 -</h2>
    </header>
    <div ng-controller="ngController">
      <section id="features" class="container-fluid">
        <div class="row">
          <h3>Features</h3>
        </div>
        <div class="row">
          <div class="col-xs-7">
            <ul class="list-group">
              <li class="list-group-item">Written by C++ [XS]</li>
              <li class="list-group-item">Perfect hashing for reserved keywords</li>
              <li class="list-group-item">Using memory pool for token objects</li>
              <li class="list-group-item">Readable Code (without yacc/bison)</li>
            </ul>
          </div>
          <div class="col-xs-5">
            <a id="forkme_banner" class="btn btn-block" href="https://github.com/goccy/p5-Compiler-Lexer"><i class="fa fa-github"> View on GitHub</i></a>
          </div>
        </div>
      </section>
      <div id="play_ground" class="container-fluid">
        <div class="row">
          <h3>PLAY GROUND</h3>
          <h4>- Tokenize your perl5 code dynamically and display results to right pane -</h4>
        </div>
        <div class="row">
          <div id="editor_pane" class="col-xs-5">
            <input type="radio" ng-model="keyboardMode" value="ace/keyboard/emacs"> emacs</input>
            <input type="radio" ng-model="keyboardMode" value="ace/keyboard/vim"> vim</input>
            <div id="ace_editor" ui-ace="{ onLoad:   aceLoaded, onChange: aceChanged }"></div>
          </div>
          <div class="col-xs-2">
            <div class="col-xs-2"></div>
            <p id="marker" class="col-xs-8">>></p>
            <div class="col-xs-2"></div>
          </div>
          <div class="col-xs-5">
            <div id="output_pane">
              <label class="token" ng-repeat="token in tokens">{{token.data}}</label>
            </div>
          </div>
        </div>
      </div>
      <div id="synopsis" class="container-fluid">
        <div class="row">
          <h3>SYNOPSIS</h3>
        </div>
        <div class="row">
          <div id="synopsis_code" class="col-xs-12" ui-ace="{ onLoad: synopsisLoaded }" readonly="true">
 use Compiler::Lexer;
 my $tokens = Compiler::Lexer->new->tokenize('print "hello world\n"');
 print $tokens->[0]->data; #=> 'print'
 print $tokens->[1]->data; #=> 'hello world\n'
          </div>
        </div>
      </div>
      <div id="how_to_install" class="container-fluid">
        <div class="row">
          <h3>INSTALL</h3>
        </div>
        <div class="row">
          <div id="how_to_install_code" ui-ace="{ onLoad: howToInstallLoaded }" readonly="true">
 cpanm Compiler::Lexer
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>
        Copyright 2015. Masaaki Goshima. All rights reserved.
      </p>
    </footer>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-60790150-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
